$colorOne: #2E1AAD
$colorTwo: #F5F7FA

.btn
    background: $colorOne
    border-radius: 8px
    font-family: Manrope
    font-style: normal
    font-weight: 700
    font-size: 14px
    line-height: 20px
    padding: 10px 25px
    text-align: center
    color: #FFFFFF
    border: none

.head
    border-bottom: 1px solid #EBEBEB
    &__body
        width: 1144px
        margin: auto
        display: flex
        flex-direction: row
        align-items: center
        height: 80px
    &__logo
        margin-left: -15px
    &__list-left
        width: 183px
        margin-left: 19px
    &__link-active
        color: $colorOne!important
        display: block
        height: 100%
        &:before
            margin-top: 49px
            content: ""
            width: 40px
            height: 2px
            position: absolute
            background: $colorOne
            display: inline-block
    &__list-right
        width: 240px
        margin-left: 235px
    &__btns
        width: 215px
        margin-left: 48px
        display: flex
        justify-content: space-between
    &__btn-white
        border: 1px solid $colorOne
        background-color: #fff
        padding: 9px 30px
        color: $colorOne
    &__btn-blue

.logo
    
.list
    list-style-type: none
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

.link
    text-decoration: none
    font-family: Manrope
    font-style: normal
    font-weight: 700
    font-size: 14px
    line-height: 20px
    color: #999999

.inp
    padding: 13px 0 15px 20px
    font-family: Manrope
    font-style: normal
    font-weight: 800
    font-size: 16px
    line-height: 22px
    color: #231F20
    background: #FFFFFF
    border-radius: 8px
    border: 1px solid #DDDDDD

.search
    &__body
        margin: 25px auto
        width: 1110px
        height: 74px
        border-radius: 8px
        background-color: $colorTwo
        padding-top: 21px
    &__form
        display: flex
        justify-content: space-between
        width: 1046px
        height: 52px
        margin: auto
    &__inp-manager
        padding-right: 123px
    &__inp-country
        padding-right: 80px
    &__inp-dist
        padding-left: 14px
        padding-right: 151px
    &__btn
        color: $colorOne
        background-color: #fff
        border: 1px solid $colorOne
        font-size: 15px
        padding: 16px 30px

.title
    font-family: Manrope
    font-style: normal
    font-weight: bold
    font-size: 14px
    line-height: 24px
    color: #000000
    margin-block: 0

.filter
    padding: 8px 9px
    font-family: Manrope
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 24px
    color: #231F20
    width: 215px
    border-radius: 4px
    border: 1px solid #DDDDDD
    background-color: inherit

.results
    &__body
        width: 1110px
        height: 974px
        margin: 30px auto
        background-color: $colorTwo
        display: flex
        flex-direction: row
    &__filters
        max-width: 280px
        border: 1px solid #DDDDDD
        border-radius: 8px
        padding: 0 32px
    &__title
        margin-top: 28px
    &__filter-drop
        margin-top: 8px
    &__filter-fromTo
        margin-top: 0px
        padding-left: 12px
    &__title-fromTo
        margin-top: 8px
        font-weight: normal
    &__row-clear
        justify-content: space-between
    &__clear
        margin-top: 37px
        font-weight: normal
        font-size: 12px
        line-height: 12px
        color: #868686
        text-decoration: none
    &__checkbox
        position: absolute
        z-index: -1
        opacity: 0
    &__checkbox+label
        display: inline-flex
        align-items: center
        user-select: none
    &__checkbox+label::before
        ntent: ''
        display: inline-block
        width: 1em
        height: 1em
        flex-shrink: 0
        flex-grow: 0
        border: 1px solid #adb5bd
        border-radius: 0.25em
        margin-right: 0.5em
        background-repeat: no-repeat
        background-position: center center
        background-size: 50% 50%
    &__check
        margin: 13px 0 0 28px
        display: block
        font-family: Manrope
        font-style: normal
        font-weight: normal
        font-size: 14px
        color: #231F20

.check__input 
    position: absolute
    width: 1px
    height: 1px
    overflow: hidden
    clip: rect(0 0 0 0)

.check__box 
    position: absolute
    margin-left: -28px
    width: 16px
    height: 16px
    overflow: hidden
    border-radius: 0.05em
    background-color: white
    background-repeat: no-repeat
    background-position: 50% 50%
    border: 1px solid #C4C4C4
    border-radius: 2px

.check__input:checked + .check__box 
    background-color: #4A90E2
    background-image: url(https://cdn.glitch.com/d6162378-5823-4160-a555-3d9789bd2b92%2Fcheck.svg?1550563475518)

.check__input:focus + .check__box 
    border: 1px solid #C4C4C4

.check__input:disabled + .check__box 
    border: 1px solid #C4C4C4

.check__input:checked:disabled + .check__box 
    background-color: #fff

.row
    display: flex
    flex-direction: row