$colorOne: #2E1AAD
$colorTwo: #F5F7FA
$colorThree: #231F20

.btn
    background: $colorOne
    border-radius: 8px
    font-family: Manrope
    font-style: normal
    font-weight: 700
    font-size: 14px
    line-height: 20px
    padding: 10px 25px
    text-align: center
    color: #FFFFFF
    border: none
    cursor: pointer

.head
    border-bottom: 1px solid #EBEBEB
    &__body
        max-width: 1144px
        padding-left: 45px
        margin: auto
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        height: 80px
        @media (max-width: 320px)
            height: 66px
    &__logo
        margin-left: -37px
        z-index: 2
        @media (max-width: 320px)
            margin-left: -28px
    &__list
        list-style-type: none
        display: flex
        flex-direction: row
        align-items: center
        margin-block-start: 0
        margin-block-end: 0
        padding-left: 0
    &__list-left
        margin-left: 27px
        @media (max-width: 1024px)
            display: none
    &__link-active
        color: $colorOne!important
        display: block
        height: 100%
        &:before
            margin-top: 49px
            content: ""
            width: 40px
            height: 2px
            position: absolute
            background: $colorOne
            display: inline-block
    &__list-right
        @media (max-width: 1024px)
            display: none
    &__btns
        max-width: 215px
        margin-left: 10px
        display: none
        justify-content: space-between
        flex: 0 1 50%
        @media (min-width: 1025px)
            display: flex
    &__btn-white
        border: 1px solid $colorOne
        background-color: #fff
        padding: 9px 30px
        color: $colorOne
    &__btn-blue
    &__listItem
        margin-left: 32px
        @media (max-width:1024px)
            margin-left: 20px
    &__box-right
        padding-right: 36px
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        width: 535px
        @media (max-width: 1024px)
            width: 67px
            padding-right: 20px
            justify-content: right
    &__box-left
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
    &__mobile
        display: none
        flex-direction: row
        align-items: center
        justify-content: end
        justify-content: space-between
        width: 70px
        @media (max-width: 1024px)
            display: flex
    &__mobileWrapper
        position: absolute
        width: 100%
        height: 343px
        background-color: #fff
        border: 1px solid #DDDDDD
        top: 0
        left: -105%
        transition: 0.3s
    &__link-burger
        text-decoration: none
        font-family: Manrope
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 16px
        color: #231F20
        padding: 18px 0
        display: block
        border-bottom: 1px solid #EBEBEB
    &__mobileWrapperList
        list-style: none
        margin-top: 79px
        padding: 0 16px
    &__burger
        position: relative
        width: 20px
        height: 16px
        z-index: 2
        
.burger
    &:before, &:after 
        content: ""
        background-color: #0A0B11
        position: absolute
        width: 100%
        height: 2px
        left: 0
        transition: 0.3s
    &__span
        content: ""
        display: block
        background-color: #0A0B11
        position: absolute
        width: 100%
        height: 2px
        left: 0
        top: 7px
    &:before
        bottom: 0
    &:after 
        top: 0

.active
    left: -2px

.active.burger:before 
    transform: rotate(45deg)
    bottom: 7px

.active.burger:after 
    transform: rotate(-45deg)
    top: 7px

.active .burger__span
    background-color: inherit

.link
    text-decoration: none
    font-family: Manrope
    font-style: normal
    font-weight: 700
    font-size: 14px
    line-height: 20px
    color: #999999

.inp
    padding: 13px 0 15px 20px
    font-family: Manrope
    font-style: normal
    font-weight: 800
    font-size: 16px
    line-height: 22px
    background: #FFFFFF
    border-radius: 8px
    border: 1px solid #DDDDDD
    @media (max-width: 320px)
        padding: 13px 0 15px 15px

.search
    &__body
        margin: 25px auto
        max-width: 1110px
        height: 74px
        border-radius: 8px
        background-color: $colorTwo
        padding-top: 21px
        @media (max-width: 1130px)
            margin: 15px 10px
            padding: 21px 5px 0 5px
        @media (max-width: 320px)
            margin: 0
            padding: 21px 0 0 0 
            height: 261px
            border-radius: 0
    &__form
        display: flex
        justify-content: space-between
        max-width: 1046px
        height: 52px
        margin: auto
        @media (max-width: 1000px)
            padding: 0 10px
        @media (max-width: 320px)
            flex-wrap: wrap
            padding-left: 20px
    &__inp-manager
        padding-right: 123px
        @media (max-width: 1000px)
            padding-right: 50px
        @media (max-width: 840px)
            padding-right: 25px
        @media (max-width: 755px)
            padding-right: 10px
        @media (max-width: 320px)
            padding-right: 74px
    &__inp-country
        padding-right: 80px
        @media (max-width: 1000px)
            padding-right: 30px
        @media (max-width: 840px)
            padding-right: 15px
        @media (max-width: 705px)
            width: 80px
        @media (max-width: 755px)
            padding-right: 5px
        @media (max-width: 320px)
            max-width: 40%
            margin-top: 15px
            padding-right: 0
    &__inp-dist
        padding-left: 14px
        padding-right: 151px
        @media (max-width: 1000px)
            padding-right: 90px
        @media (max-width: 840px)
            padding-right: 45px
        @media (max-width: 755px)
            padding-right: 20px
        @media (max-width: 320px)
            padding-right: 52px
            margin-right: 11px
            margin-top: 15px
            height: 50px
            padding-left: 10px

    &__butFilters
        display: none
        color: $colorOne
        background-color: #fff
        border: 1px solid $colorOne
        font-size: 16px
        padding: 15px 30px
        @media (max-width: 500px)
            margin-top: 14px
            display: initial
    &__btn
        color: $colorOne
        background-color: #fff
        border: 1px solid $colorOne
        font-size: 15px
        padding: 16px 30px
        @media (max-width: 320px)
            width: 280px
            margin-top: 12px
            color: #fff
            background-color: $colorOne
            font-size: 16px


    &__btnsCont
        display: flex
        flex-direction: row
        @media (max-width: 320px)
            flex-direction: column

.title
    font-family: Manrope
    font-style: normal
    font-weight: bold
    font-size: 14px
    line-height: 24px
    color: #000000
    margin-block: 0

.filter
    padding: 8px 9px
    font-family: Manrope
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 24px
    color: $colorThree
    max-width: 215px
    border-radius: 4px
    border: 1px solid #DDDDDD
    background-color: inherit

.results
    &__body
        max-width: 1110px
        height: 974px
        margin: 30px auto
        display: flex
        flex-direction: row
        justify-content: space-between
        @media (max-width: 1130px)
            margin: 15px 10px
        @media (max-width: 320px)
            margin: 12px auto
            display: block
            height: initial
    &__filters
        max-width: 280px
        border: 1px solid #DDDDDD
        border-radius: 8px
        padding: 0 19px 0 32px
        margin-bottom: 47px
        @media (max-width: 880px)
            padding: 0px 10px 0 15px
        @media (max-width: 320px)
            display: none
    &__title
        margin-top: 28px
    &__filter-drop
        margin-top: 8px
        width: 100%
    &__filter-fromTo
        margin-top: 0px
        padding-left: 12px
    &__title-fromTo
        margin-top: 8px
        font-weight: normal
    &__row-clear
        max-width: 215px
        justify-content: space-between
    &__clear
        margin-top: 37px
        font-weight: normal
        font-size: 12px
        line-height: 12px
        color: #868686
        text-decoration: none
    &__check
        margin: 13.5px 0 0 28px
        display: block
        font-family: Manrope
        font-style: normal
        font-weight: normal
        font-size: 14px
        color: $colorThree
        position: relative
    &__containerCheck
        margin-top: 0px
        height: 120px
        overflow-y: auto
    &__containerCheck-scroll
        margin-top: -5px
    &__list
        max-width: 800px
        @media (max-width: 1080px)
            margin-left: 10px
        @media (max-width: 600px)
            margin-left: auto
    &__card
        margin-bottom: 16px
    &__tubs
        margin-top: 17px
        @media (max-width: 320px)
            margin: 35px 20px

.check__input 
    position: absolute
    width: 1px
    height: 1px
    overflow: hidden
    clip: rect(0 0 0 0)

.check__box 
    position: absolute
    margin-left: -28px
    width: 16px
    height: 16px
    overflow: hidden
    border-radius: 0.05em
    background-color: white
    background-repeat: no-repeat
    background-position: 50% 50%
    border: 1px solid #C4C4C4
    border-radius: 2px

.check__input:checked + .check__box 
    background-color: #4A90E2
    background-image: url(https://cdn.glitch.com/d6162378-5823-4160-a555-3d9789bd2b92%2Fcheck.svg?1550563475518)

.check__input:focus + .check__box 
    border: 1px solid #C4C4C4

.check__input:disabled + .check__box 
    border: 1px solid #C4C4C4

.check__input:checked:disabled + .check__box 
    background-color: #fff

.row
    display: flex
    flex-direction: row

::-webkit-input-placeholder
    color: $colorThree

:-moz-placeholder 
    color: $colorThree

::-moz-placeholder
    color: $colorThree

:-ms-input-placeholder
    color: $colorThree

.card
    max-width: 800px
    height: 298px
    border-radius: 8px
    background-color: $colorTwo
    display: flex
    flex-direction: row
    justify-content: space-between
    flex: 1 1 50%
    @media (max-width: 790px)
        height: initial
    @media (max-width: 500px)
        height: initial
        border-radius: 0
        padding-bottom: 13px
    &__left
        padding: 30px 0 0 33px
        @media (max-width: 790px)
            padding: 20px 0 20px 25px
        @media (max-width: 650px)
            padding: 16px 0px 10px 21px
    &__title
        font-family: Manrope
        font-style: normal
        font-weight: bold
        font-size: 24px
        line-height: 24px
        color: #231F20
        margin-block-start: 0
        margin-block-end: 5px
        @media (max-width: 320px)
            font-size: 18px
            margin-block-end: 2px
    &__span
        font-family: Manrope
        font-style: normal
        font-weight: normal
        font-size: 12px
        line-height: 24px
        color: #666666
        width: 131px
    &__list
        padding-left: 0
        margin-block-start: 11px
        margin-block-end: 0
        @media (max-width: 320px)
            margin-block-start: 10px
    &__listItem
        list-style-type: none
        font-family: Manrope
        font-style: normal
        font-weight: bold
        font-size: 14px
        line-height: 22px
        color: #231F20
    &__listItem-img
        margin-right: 5px
    &__description
        max-width: 560px
        margin-block-start: 12px
        margin-block-end: 0
        @media (max-width: 320px)
            max-width: 275px
    &__right
        position: relative
        display: flex
        flex-direction: column
        padding: 25px 31px 0 0 
        margin-left: 16px
        @media (max-width: 320px)
            padding: 0 
    &__companyBox
        position: absolute
        right: 31px
        width: 90px
        height: 90px
        border: 1px solid #DDDDDD
        box-sizing: border-box  
        border-radius: 8px  
        display: flex
        align-items: center
        justify-content: center
    &__likeImg
        width: 18px
        height: 15px
        margin-right: 9px
        @media (max-width: 320px)
            position: absolute
            top: 18px
            right: 10px
            width: 22px
            height: 22px
    &__like
        margin-top: 227px
        display: flex
        align-items: center
        @media (max-width: 320px)
            position: relative
            margin-top: 0

.text
    font-family: Manrope
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 24px
    color: $colorThree
    &__link
        text-decoration: none
        font-family: Manrope
        font-style: normal
        font-weight: 700
        font-size: 14px
        line-height: 35px
        color: $colorOne

.tub 
    width: 30px
    height: 30px
    margin-right: 8px
    background: #FFFFFF
    border: 1px solid #999999
    border-radius: 4px
    display: flex
    align-items: center
    justify-content: center
    font-family: Manrope
    font-style: normal
    font-weight: bold
    font-size: 14px
    line-height: 20px
    text-align: center
    cursor: pointer
    z-index: 1

.tubs
    &__num-active
        border-color: #05A660
        color: #05A660
    &__arrow-left
        background-color: #999
        opacity: 0.5
    &__arrow-right
        transform: rotate(180deg)

.name
    font-family: Montserrat
    font-style: normal
    font-weight: 900
    font-size: 30px
    line-height: 37px
    text-transform: uppercase
    color: #FFFFFF
    margin-block-start: 0
    margin-block-end: 0

.footer
    margin-top: -182px
    @media (max-width: 320px)
        margin-top: 0
    &__container
        position: relative
        left: 0
        bottom: 0px
        max-width: 100%
        height: 601px
        display: flex
        flex-direction: row
        @media (max-width: 320px)
            flex-direction: column
            height: initial
            position: initial
    &__img
        max-width: 100%
        position: relative
    &__woman
        position: absolute
        right: 5px
    &__body
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 360px
        background-color: #0B0D17
        @media (max-width: 320px)
            position: initial
            height: initial
    &__content
        max-width: 1105px
        height: 70%
        margin: 65px auto
        @media (max-width: 320px)
            display: flex
            flex-direction: column
            align-items: center
            margin: 43px auto
            text-align: center
    &__rights
        margin-top: 40px
        @media (max-width: 320px)
            margin-top: 18px
    &__right
        font-family: Manrope
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 20px
        color: #D9DBE1
        @media (max-width: 320px)
            display: block
            width: 157px
            margin-left: -10px

    &__content-left
        width: 42%
        @media (max-width: 1135px)
            padding-left: 15px
        @media (max-width: 320px)
            order: 1
            padding-left: 0px
            padding-top: 38px
    &__content-right
        width: 58%
        @media (max-width: 320px)
            display: flex
            flex-direction: column
    &__navBox
        list-style-type: none
        padding: 0 0 0 10px
        margin: 0 
    &__title
        margin-block-start: 0
        margin-block-end: 0
        font-family: Manrope
        font-style: normal
        font-weight: 800
        font-size: 20px
        line-height: 28px
        color: #FFFFFF
        margin-bottom: 24px
        @media (max-width: 320px)
            font-size: 18px
            line-height: 26px

    &__navigation
        display: block
        margin-top: 12px
        font-family: Manrope
        font-style: normal
        font-weight: normal
        font-size: 16px
        line-height: 26px
        color: #D9DBE1
        text-decoration: none

.right
    padding-left: 54px
    @media (max-width: 320px)
        padding-left: 0px
        padding-top: 26px

.displayMobile
    @media (max-width: 1024px)
        display: none

.thirdCard
    @media (max-width: 610px)
        display: none
