.btn
    background: #2E1AAD
    border-radius: 8px
    font-family: Manrope
    font-style: normal
    font-weight: 700
    font-size: 14px
    line-height: 20px
    padding: 10px 25px
    text-align: center
    color: #FFFFFF
    border: none
.head
    &__body
        width: 1144px
        margin: auto
        display: flex
        flex-direction: row
        align-items: center
        height: 80px
    &__logo
    &__list-left
        width: 183px
        margin-left: 19px
    &__link-active
        color: #2E1AAD!important
        display: block
        height: 100%
        &:before
            margin-top: 49px
            content: ""
            width: 40px
            height: 2px
            position: absolute
            background: #2E1AAD
            display: inline-block
    &__list-right
        width: 240px
        margin-left: 235px
    &__btns
        width: 215px
        margin-left: 48px
        display: flex
        justify-content: space-between
    &__btn-white
        border: 1px solid #2E1AAD
        background-color: #fff
        padding: 9px 30px
        color: #2E1AAD
    &__btn-blue

.logo
.list
    list-style-type: none
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

.link
    text-decoration: none
    font-family: Manrope
    font-style: normal
    font-weight: 700
    font-size: 14px
    line-height: 20px
    color: #999999

